{{define "head"}}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>{{.}} | Coin Explorer</title>
  </head> 

{{end}}